@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;

    --button: 0 0% 1%;
    --button-foreground: 0 0% 100%;
    --button-focus: 0 0% 2%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 17%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 21%;
    --popover-background: 0 0% 15%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 14%;
    --card-border: 0 0% 16%;

    --border: 0 0% 16%;

    --input: 0 0% 35%;
    --input-background: 0 0% 14%;
    --input-placeholder: 0 0% 19%;

    --text: 0 0% 100%;
    --muted-text: 0 0% 51%;
    --muted-text-foreground: 0 0% 70%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 5%;

    --secondary: 0 0% 22%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 20%;

    --radius: 0.5rem;

    --radio-background: 0 0% 12%;
    --radio-border: 0 0% 18%;
    --radio-active-foreground: linear-gradient(135deg, #94C6FF 0%, #688BB3 32%, #94C6FF 66%, #5C7DA1 100%);
    --radio-active-border: linear-gradient(180deg, #94C6FF 0%, #6082A8, #94C6FF 75%, #6082A8 100%);

    --draggable-border: linear-gradient(-28deg, #94C6FF 0%, #597899 33%, #94C6FF 66%, #597899 100%);
    --draggable-up-arrow: linear-gradient(118deg, #94C6FF 0%, #597899 50%, #94C6FF 75%, #597899 100%);
    --draggable-down-arrow: linear-gradient(62deg, #94C6FF 0%, #597899 50%, #94C6FF 75%, #597899 100%);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.typing-cursor {
  animation: blink 0.8s infinite;
}